# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Environment
.env
config.py

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Jupyter
.ipynb_checkpoints/

# Large datasets
data/datasets/*.csv
data/raw/*.csv
data/processed/*.csv

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db